NODE_ENV=development
PORT=4100

HOSXP_DB_HOST=127.0.0.1
HOSXP_DB_PORT=3306
HOSXP_DB_NAME=hosxp_pcu
HOSXP_DB_USER=medclaim_readonly
HOSXP_DB_PASSWORD=change_me
HOSXP_DB_SSL=false

CLAIM_DATA_SOURCE=demo

# ระบุรหัส pttype ของ UCS ตามโรงพยาบาล เช่น 01,02,03
HOSXP_UCS_PTTYPE_CODES=01,02,03
